html{
    //background: #eaeaea url("../assets/img/background.png");
    background: #eaeaea url("../assets/img/bg.png");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
}

body{
    font-family: Georgia, "Times New Roman", Times, serif;

    padding: 3vh;

    background-color: rgba(255, 255, 255, 0.5);
    //background: transparent;

    >main{

        //background-color: rgba(255, 255, 255, 0.9);
        //background-color: white;

        min-height: 85vh;
        padding: 5vh 0;
    }
}

.rs-shadow{
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
    background-color: rgba(255, 255, 255, 0.95);
}


h1, h2, h3, h4 { font-family: 'Parisienne', sans-serif; }
