// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

html, body {
    bottom: 0px;
    height: 100%;
}

main {
    > div {
        padding: 1rem;

        &.menu {
            background-color: silver;
            border-right: 1px solid;

            ul {
                padding-left: 1.2rem;
            }
        }
    }
}
