//// Fonts
//@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'admin/variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'fontawesome';

.navbar-brand{
    min-width: 70px;
}
